#content {
	padding: 0 0 40px;
}

#title-page {
	margin-bottom: 0;
}

#portfolio-filter {
	margin: 20px 0;
}

.dropmenu p {
	color: hsl(220, 76%, 40%);
}

.open .selected, .dropmenu .selected:hover, .dropmenu .selected:focus, .dropmenu .selected:active{
	color: white;
}

.carousel {
	max-width: 600px;
}

	.carousel_item {
		display: none;
	}

	.carousel_img, .carousel_video {
		width: 100%;
		background-size: cover;
	}

.visible {
	display: block;
}

.btn-group {
	display: block;
}

ul, ol, dl, li, dt {
	list-style: none;
}

.tag_box {
	margin-top: 1em;
}
@media only screen and (min-width: 769px) {
	.carousel_item, .carousel_video {
		width: 100%;
	}
}

@media only screen and (min-width: 769px) {
	.carousel_item, .carousel_video {
		width: 42.8571428571em;
		height: 28.5714286em;
	}
}