#content {
  padding: 0 0 80px;
}

.item-project h5 {
	top: 0px;
	border: 1px solid hsla(220, 76%, 40%, 1);
}

.arrow-port {
	border-top: 20px solid hsla(220, 76%, 40%, 1);
}


.span8 video {
	width: 90%;
	margin: 0 auto;
}