#content {
	padding: 0 0 40px;
}

#title-page {
	margin-bottom: 0;
}

#portfolio-filter {
	margin: 20px 0;
}

.dropmenu p {
	color: hsl(220, 76%, 40%);
}

.open .selected, .dropmenu .selected:hover, .dropmenu .selected:focus, .dropmenu .selected:active{
	color: white;
}

.carousel {
	max-width: 600px;
}

	.carousel_item {
		display: none;
	}

.visible {
	display: block;
}
