<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<head>

<!-- Meta Tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>The Weather Company | Advertising Mediakit</title>   

<meta name="description" content="The Weather Company | Advertising Mediakit" /> 
<meta name="author" content="Shell Saras" /> 

<!-- Mobile Specifics -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="true"/>
<meta name="MobileOptimized" content="320"/>   

<!-- Mobile Internet Explorer ClearType Technology -->
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
<!-- Bootstrap -->
<link href="http://www.twcmediakit.com/_include/css/bootstrap.min.css" rel="stylesheet">

<!-- Revolution Slider -->
<link href="http://www.twcmediakit.com/_include/rs-plugin/css/settings.css" rel="stylesheet">

<!-- Main Style -->
<link href="http://www.twcmediakit.com/_include/css/main.css" rel="stylesheet">

<!-- FancyBox -->
<link href="http://www.twcmediakit.com/_include/css/fancybox/jquery.fancybox.css" rel="stylesheet">

<!-- Font Icons -->
<link href="http://www.twcmediakit.com/_include/css/fonts.css" rel="stylesheet">

<!-- Shortcodes -->
<link href="http://www.twcmediakit.com/_include/css/shortcodes.css" rel="stylesheet">

<!-- Responsive -->
<link href="http://www.twcmediakit.com/_include/css/responsive.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="http://www.twcmediakit.com/_include/css/custom.css" rel="stylesheet">

<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

<!-- Showcase Theme CSS overrides -->
<link href="{{ BASE_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

<!-- Fav Icon -->
<link rel="shortcut icon" href="#">

<link rel="apple-touch-icon" href="#">
<link rel="apple-touch-icon" sizes="114x114" href="#">
<link rel="apple-touch-icon" sizes="72x72" href="#">
<link rel="apple-touch-icon" sizes="144x144" href="#">

<!-- Modernizr -->
<script src="http://www.twcmediakit.com/_include/js/modernizr.js"></script>

</head>

<body>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="span2">
                <div id="logo">
                 <a href="/" title="The Weather Company"> <img src="http://www.twcmediakit.com/_include/img/misc/WxCo_Logo-150x123.png" width="120" height="103"></a>
                </div>
            </div>
            
            <div class="span10">
                <!-- Mobile Menu -->
                <a id="mobile-nav" class="menu-nav" href="#menu-nav"><span class="menu-icon"></span></a>
                
                <!-- Standard Menu -->
                    <nav id="menu">
                    <ul id="menu-nav">
                        <li><a href="http://www.twcmediakit.com/brands/">Brands</a></li>
                        <li><a href="#">Television</a>
                            <ul class="sub-menu arrow-up">
                                <li><a href="http://www.twcmediakit.com/television/audience/">Audience</a></li>
                                <li><a href="http://www.twcmediakit.com/television/programming/scheduling/">2013 Schedule</a></li>
                                <li><a href="http://www.twcmediakit.com/television/programming/live/">TV Live</a></li>
                                <li><a href="http://www.twcmediakit.com/television/programming/original-series/">Original Series</a></li>
                                <li><a href="http://www.twcmediakit.com/television/ad-products">Product Specs</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Web</a>
                            <ul class="sub-menu">
                                <li><a href="http://www.twcmediakit.com/web/audience/">Audience</a></li>
                                <li><a href="http://www.twcmediakit.com/web/ad-products/">Products</a></li>
                                <li><a href="http://www.twcmediakit.com/web/creative-specs/">Creative Specs</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Mobile</a>
                            <ul class="sub-menu">
                                <li><a href="http://www.twcmediakit.com/mobile/audience/">Audience</a></li>
                                <li><a href="http://www.twcmediakit.com/mobile/ad-products/">Products</a></li>
                                <li><a href="http://www.twcmediakit.com/mobile/creative-specs/">Creative Specs</a></li>
                            </ul>
                        </li>
                        <li><a href="http://www.twcmediakit.com/news/">News</a></li>
                         <li><a href="http://www.twcmediakit.com/showcase/">Showcase</a>
                            
                         </li>
                                                  <li><a href="http://www.twcmediakit.com/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- End Header -->

<!-- Start Section Title -->
<section id="title-page">
  <h2>Weather Showcase</h2>
    <span class="arrow"></span>
</section>
<!-- End Section Ttile -->


<div id="content">
    {{ content }}
    <!-- End Section Portfolio Projects -->
</div>

<!-- Start Twitter Feed -->
<section id="twitter-feed">
<span class="arrow-down"></span>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="twitter-list" data-count="1"></div>
            </div>
        </div>
    </div>  
</section>
<!-- End Twitter Feed -->

<!-- Start Footer -->
<footer>
    <div class="container">
        <div class="row">
            <nav id="social-footer">
                <ul>
                    <li><a target="_blank" href="https://twitter.com/weatherchannel" title="Tweet The Weather Channel"><i class="font-icon-social-twitter"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/TheWeatherChannel" title="The Weather Channel on Facebook"><i class="font-icon-social-facebook"></i></a></li>
                    <li><a target="_blank" href="http://www.youtube.com/user/TheWeatherChannel" title="The Weather Channel on YouTube"><i class="font-icon-social-youtube"></i></a></li>
                    <li><a target="_blank" href="https://vimeo.com/channels/theweatherchannel" title="The Weather Channel on Vimeo"><i class="font-icon-social-vimeo"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Start Credits -->
<section id="footer-credits">
    <div class="container">
        <div class="row">
            <div class="span12">
                <p class="credits">© 1995 - 2013, The Weather Channel, LLC weather.com® Licensed by <a href="#">TRUSTe</a>.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Credits -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
    <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->

<!-- Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jQuery Core -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script> <!-- Google Map API -->
<script src="http://www.twcmediakit.com/_include/js/bootstrap.min.js"></script> <!-- Bootstrap -->
<script src="http://www.twcmediakit.com/_include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> <!-- Revolution Slider -->
<script src="http://www.twcmediakit.com/_include/rs-plugin/js/jquery.themepunch.plugins.min.js"></script> <!-- Revolution Slider -->
<script src="http://www.twcmediakit.com/_include/js/jquery.superfish.min.js"></script> <!-- Superfish -->
<script src="http://www.twcmediakit.com/_include/js/jquery.supersubs.min.js"></script> <!-- Supersubs -->
<script src="http://www.twcmediakit.com/_include/js/jquery.isotope.js"></script> <!-- Isotope Filter -->
<script src="http://www.twcmediakit.com/_include/js/jquery.fancybox.pack.js"></script> <!-- Fancybox -->
<script src="http://www.twcmediakit.com/_include/js/jquery.fancybox-media.js"></script> <!-- Fancybox for Media -->
<script src="http://www.twcmediakit.com/_include/js/jquery.tweet.js"></script> <!-- Tweet -->
<script src="http://www.twcmediakit.com/_include/js/jquery.flickr.min.js"></script> <!-- Flickr -->
<script src="http://www.twcmediakit.com/_include/js/plugins.js"></script> <!-- Contains: jQuery Easing, jQuery ScrollTo -->
<script src="http://www.twcmediakit.com/_include/js/main.js"></script> <!-- Default JS -->
<!-- End Js -->

<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41411243-1', 'twcmediakit.com');
  ga('send', 'pageview');

</script>
<!-- End Analytics -->

    {% include JB/analytics %}
  </body>
</html>