<section class="container">
  <div class="page-header">
    <h1>
      {{ page.title }} 
    </h1>
  </div>
  <div class="row">
    <div class="span8">
      <ul class="carousel">
        {% if page.videoMp4 or page.videoWebm%}
        <li class="carousel_item visible">
          <video class="carousel_video" poster="{{ page.img1 }}" preload="none">
            <source src="{{ page.videoMp4 }}" type="video/mp4">
            <source src="{{ page.videoWebm }}" type="video/webm">
          </video>
        </li>
        {% else %}
        <li class="carousel_item visible">
          <img class="carousel_img" src="{{ page.img1 }}">
        </li>
        {% endif %}
        {% if page.img2 %}
        <li class="carousel_item">
          <img class="carousel_img" src="{{ page.img2 }}">
        </li>
        {% endif %}
        {% if page.img3 %}
        <li class="carousel_item">
          <img class="carousel_img" src="{{ page.img3 }}">
        </li>
        {% endif %}
      </ul>        
    </div>
    <div class="span4">
      {{ page.content }}
      {% if page.videoMp4 or page.videoWebm%}
        <a class="btn playVideo">Watch the video</a>
      {% endif %}
      {% unless page.categories == empty %}
        <section>
          <ul class="category_box">
            <h3>More like this:</h3>
            {% assign categories_list = page.categories %}
            {% include JB/categories_list %}
          </ul>
        </section>
      {% endunless %}         
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a>
      {% endif %}
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a>
      {% endif %}
      </div>
    </div>
  </div>
</section>